In [1]:
from pathlib import Path
import pandas as pd

sample_csv = Path("/Users/henry/RA/[01] ifo Institute/CPS-Data-Preparation/data/processed/cps_data/child/cps_199408.csv")
df = pd.read_csv(sample_csv)

df.PEAGE.value_counts()

/var/folders/d8/mhh9hs_x0w50j6nxkx1wsqx00000gn/T/ipykernel_32272/1041907483.py:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(sample_csv)

PEAGE
36    1901
35    1835
37    1835
34    1829
38    1828
      ...
98       2
99       1
95       1
97       1
14       1
Name: count, Length: 86, dtype: int64

In [2]:
df.iloc[: -10:]

,HRHHID,HUINTTYP,HULENSEC,HUPRSCNT,HURESPLI,HUFINAL,HUSPNISH,HETENURE,HEHOUSUT,HETELHHD,...,PXSCHENR,PXSCHFT,PXSCHLVL,DATA_YEAR,BIRTH_YEAR,IS_MARRIED,IS_PARENT,IS_CHILD,IS_OLDEST_CHILD,AGE_OF_OLDEST_CHILD
0,21495606,2,179,-1,1,201,-1,2,1,1,...,-1,-1,-1,1994,1969,1,1,0,0,-1
1,21495606,2,179,-1,1,201,-1,2,1,1,...,-1,-1,-1,1994,1969,1,1,0,0,-1
2,41405602,2,238,-1,2,201,-1,1,1,1,...,-1,-1,-1,1994,1900,1,1,0,0,-1
3,41405602,2,238,-1,2,201,-1,1,1,1,...,-1,-1,-1,1994,1900,1,1,0,0,-1
4,44091008,2,268,-1,2,201,-1,1,5,1,...,-1,-1,-1,1994,1939,1,1,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68764,999677890091,2,199,-1,2,201,-1,1,1,1,...,-1,-1,-1,1994,1926,1,1,0,0,-1
68765,999677890091,2,199,-1,2,201,-1,1,1,1,...,-1,-1,-1,1994,1927,1,1,0,0,-1
68766,999850880094,2,475,-1,2,201,-1,1,1,1,...,-1,-1,-1,1994,1941,1,0,0,0,53
68767,999850880094,2,475,-1,2,201,-1,1,1,1,...,-1,-1,-1,1994,1943,1,0,0,0,53
68768,999996101903,1,1164,2,2,201,-1,1,1,1,...,-1,-1,-1,1994,1951,1,1,0,0,-1

57520880